<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Adopcion - Detalle de aviso</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body data-aviso-id="{{ aviso.id }}">
  <h1>Detalle del aviso</h1>
  
  <p><b>Publicación:</b> {{ aviso.fecha_ingreso.strftime('%Y-%m-%d %H:%M') }}</p>
  <p><b>Entrega:</b> {{ aviso.fecha_entrega.strftime('%Y-%m-%d %H:%M') }}</p>
  <p><b>Comuna:</b> {{ aviso.comuna.nombre }}</p>
  <p><b>Sector:</b> {{ aviso.sector }}</p>
  <p><b>Cantidad:</b> {{ aviso.cantidad }}</p>
  <p><b>Tipo:</b> {{ aviso.tipo }}</p>
  <p>
    <b>Edad:</b> {{ aviso.edad }} 
    {% if aviso.unidad_medida == 'a' %}años{% else %}meses{% endif %}
  </p>
  <p><b>Contacto:</b> {{ aviso.nombre }} - {{ aviso.email }}</p>
  
  {% if aviso.celular %}
  <p><b>Celular:</b> {{ aviso.celular }}</p>
  {% endif %}
  
  <p><b>Otras redes:</b></p>
  <ul>
    {% for contacto in aviso.contactos %}
    <li>{{ contacto.nombre|capitalize }}: {{ contacto.identificador }}</li>
    {% endfor %}
  </ul>

  <p><b>Descripción:</b></p>
  <p>{{ aviso.descripcion }}</p>
  
  <p><b>Fotos:</b></p>
  {% for foto in aviso.fotos %}
  <img src="{{ url_for('static', filename=foto.ruta_archivo) }}" class="mini" alt="Foto {{ loop.index }} del aviso">
  {% endfor %}
  
  <div id="visor" style="display:none;">
    <img id="imgGrande" src="esto_no_se_ve_nunca.jpg" alt="Foto en tamaño grande">
    <button id="cerrarVisor">X</button>
  </div>

  <!-- Parte 3 añadiendo los comentarios, tengo q ver el css despues -->
  
  <hr>
  <h2>Comentarios</h2>
  
  <fieldset>
    <legend>Agregar un comentario</legend>
    <form id="form-comentario">
      <div>
        <label for="comentario-nombre">Nombre:</label><br>
        <input type="text" id="comentario-nombre" name="nombre" 
               required minlength="3" maxlength="80"> </div>
      <div>
        <label for="comentario-texto">Comentario:</label><br>
        <textarea id="comentario-texto" name="texto" 
                  rows="4" cols="50" 
                  required minlength="5" maxlength="300"></textarea> </div>
      
      <div id="errores-comentario"></div> 
      
      <button type="submit" id="btn-agregar-comentario">Agregar comentario</button> </form>
  </fieldset>
  
  <div id="lista-comentarios">
    </div>
  <br><a href="{{ url_for('listado') }}" class="btn-volver">Volver al listado</a>
  <br><a href="{{ url_for('index') }}" class="btn-volver">Volver a portada</a>
  
  <script src="{{ url_for('static', filename='js/detalle.js') }}"></script>
</body>
</html>