<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Adopcion - Estadísticas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Estadísticas</h1>
  
  <h2>Avisos por día</h2>
  <div id="chart-container-linea" style="width:100%; height:400px;"></div>

  <h2>Avisos por tipo</h2>
  <div id="chart-container-torta" style="width:100%; height:400px;"></div>

  <h2>Avisos por mes</h2>
  <div id="chart-container-barras" style="width:100%; height:400px;"></div>

  <br><a href="{{ url_for('index') }}" class="btn-volver">Volver a portada</a>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
</body>
</html>